@font-face {
  font-family: 'Ethnocentric';
  src: url('Fonts/Ethnocentric Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ethnocentric';
  src: url('Fonts/Ethnocentric Rg It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
